@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Lato&family=Montserrat:wght@300&family=Roboto:wght@700&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainFont: "Lato", sans-sarif;
    --secondaryFont: "Montserrat", cursive;
    --highlight: "Roboto", sans-sarif;
    --bodyFont: "Cabin", sans-sarif;
    --mainFontColorDark: #0b0b0b;
    --mainFontColor: #515151;
    --primaryColor: #f6f5f5;
    --mainWhite: #ffff;
    --offWhite: #f7f7f7;
    --mainBlack: #1a1a1a;
    --mainGrey: #6d6d6d;
    --darkGrey: #403e3e;
    --darkShadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

body {
    background-color: var(--primaryColor);
    margin: 0px;
    padding: 0px;
    font-family: var(--mainFont);
    color: var(--mainGrey);
    font-size: 1.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.link-btn {
    color: #373636;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;
    justify-items: center;
}

.btnPrimaryLight {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibiri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
    border: 2px solid #373636;
    color: #373636;
    cursor: pointer;
    text-transform: capitalize;
}

.btnPrimaryDark {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibiri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
    background-color: #0b0b0b;
    color: #ffff;
    border: none;
    cursor: pointer;
}

button:active {
    transform: scale(1.1);
}

section {
    padding: 3.9rem 0;
    width: 100%;
    /*   background-image: url('../src/images/singleProductBcg.jpeg');  */
}

.logo {
    font-family: var(--secondaryFont);
    color: #000000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


/*nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
    position: fixed;
    width: 90%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
}
*/


/* navigation*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #ffff;
    box-shadow: var(--darkShadow);
    font-family: var(--mainFont);
    position: sticky;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a {
    font-family: var(--mainFont);
    color: #505050;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.open-link {
    font-family: var(--mainFont);
    color: #505050;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.toggle {
    width: 25px;
    height: 35px;
    color: #505050;
    display: none;
}

@media screen and (max-width: 1626px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width: 847px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        background-color: var(--mainWhite);
        align-items: center;
        width: 30%;
        box-shadow: var(--darkShadow);
        transform: translateX(100%);
    }
    .toggle {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
    color: white;
    position: absolute;
}


/* end navigation*/


/******************************/


/***Her0 componenet***/

.hero-container {
    justify-items: center;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-top: 50px;
    scroll-snap-align: center;
}

.provider {
    width: 90%;
    height: auto;
    margin: auto;
}

.img-container {
    width: 50%;
    margin-top: 200px;
    overflow: auto;
    float: right;
    text-align: center;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.img-container img {
    float: left;
    border-style: solid;
    border-left-style: none;
    box-shadow: var(--darkShadow);
}

.text-container .highlights {
    font-size: 22px;
    color: var(--mainGrey);
    padding-left: 50px;
    margin-bottom: 10px;
}

.text-container .title-name {
    font-size: 60px;
    font-family: var(--highlight);
    color: var(--mainBlack);
    text-transform: capitalize;
}

.text-container .skills {
    font-size: 20px;
    padding-bottom: 10px;
    color: var(--mainGrey);
}

.text-container {
    width: 50%;
    float: left;
    background-color: var(--offWhite);
    text-align: center;
    padding-top: 150px;
    margin-top: 250px;
}

@media screen and (max-width: 808px) {
    .text-container {
        width: 50%;
        left: 10%;
        padding-top: 100px;
        margin-top: 200px;
    }
    .img-container img {
        float: left;
        border-style: none;
        border-left-style: none;
        box-shadow: var(--darkShadow);
        height: 350px;
        margin-top: 90px;
    }
    .text-container .highlights {
        padding-left: 30px;
    }
}

@media screen and (max-width: 786px) {
    .hero-container {
        justify-items: center;
        justify-content: center;
        align-items: center;
        overflow: auto;
        margin-top: -180px;
    }
    .img-container {
        width: 100%;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .text-container {
        width: 100%;
    }
    .img-container img {
        border-style: none;
        border-left-style: none;
        padding-left: 70px;
        padding-top: 10px;
        height: 350px;
        margin-top: 0px;
        max-width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .text-container .highlights {
        padding-left: 30px;
    }
}


/***  end of Her0 componenet***/


/******************************/


/**Title***/

.section-title {
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 5rem;
}

.section-title h4 {
    font-size: 4rem;
    font-family: var(--mainFont);
    letter-spacing: 0.5rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: var(--mainFontColor);
}

.section-title div {
    width: 20rem;
    height: 15px;
    margin: 0 auto;
    background: var(--darkGrey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.seperator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    max-width: 8.4rem;
    height: 0.25rem;
    background-color: var(--mainGrey);
    position: relative;
    animation: grow 2s forwards;
    animation-delay: 0.9s;
}


/**End of title */


/******************************************/


/***About   ***/

.about-container {
    width: 60%;
    background-color: var(--mainWhite);
    justify-content: center;
    display: flex;
    overflow: auto;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px 50px;
    box-shadow: var(--darkShadow);
}

.model-body {
    width: 50%;
    float: left;
}

.about-text-container {
    width: 70%;
    float: right;
    display: block;
    justify-content: center;
    display: flex;
    overflow: auto;
    margin: auto;
    text-align: center;
}

.about-header {
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--mainFontColorDark);
    font-family: var(--mainFont);
}

.about-wording {
    font-size: 1.5rem;
    font-family: var(--mainFont);
    color: var(--mainGrey);
    padding-top: 10px;
}

@media screen and (max-width: 1704px) {
    .about-container {
        width: 70%;
    }
}

@media screen and (max-width: 1407px) {
    .about-container {
        width: 80%;
    }
}

@media screen and (max-width: 1197px) {
    .about-container {
        width: 100%;
    }
}

@media screen and (max-width: 997px) {
    .about-container {
        width: 90%;
    }
    .about-text-container {
        width: 100%;
        justify-content: space-evenly;
        position: relative;
    }
    .model-body {
        width: 0%;
        float: bottom;
    }
    .model-body img {
        width: 0px;
    }
}


/**** End of about*****/


/*******************************/


/****project/card container*******/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(255, 255, 255, 0.8);
    grid-gap: 15px;
    padding: 20px 0;
    margin-top: 30px;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: auto;
    margin: auto;
}

.card {
    grid-template-areas: "image" "text" "stats";
    font-family: var(--secondaryFont);
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-size: 30px;
    max-width: 410px;
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
    text-transform: capitalize;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
    text-transform: capitalize;
}

.card-stats {
    grid-area: stats;
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: var(--offWhite);
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}

.value a {
    color: var(--offWhite);
}

@media screen and (max-width: 1602px) {
    .grid-container {
        grid-gap: 5px;
        padding: 10px 0;
        width: 90%;
    }
}

@media screen and (max-width: 1434px) {
    .grid-container {
        grid-gap: 5px;
        padding: 10px 0;
        width: 100%;
    }
}

@media screen and (max-width: 1329px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 828px) {
    .grid-container {
        grid-template-columns: auto;
    }
}


/*       card/ project ends   **/


/*****************************************************/


/******* filter page ***************/

.filter-container {
    width: 75%;
    height: 20vh;
    background-color: var(--mainFontColorDark);
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    padding-top: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 100px;
    box-shadow: var(--lightShadow);
    margin-bottom: 20px;
}

.grid-container h1 {
    color: rgb(255, 7, 110);
    font-size: 2.5rem;
}

.search-field {
    height: 50px;
    padding: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 15px;
    border: none;
    outline: none;
    width: 250px;
    border-radius: 15px;
    font-family: var(--mainFont);
}

.type-container {
    height: 50px;
    padding: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 15px;
    border: 2px;
    outline: none;
    width: 250px;
    border-radius: 15px;
    font-family: var(--mainFont);
}

.filter-item {
    display: block;
    background: transparent;
    border-radius: 0.5rem;
    border: 2px solid var(--darkGray);
}

label {
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 25px;
    color: var(--offWhite);
}

.type-container {
    font-size: 1.2rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: var(--mainFontColor);
    text-transform: capitalize;
}

.checkbox label {
    padding-right: 8px;
    font-size: 17px;
}

@media screen and (max-width: 1714px) {
    .filter-container {
        width: 60%;
    }
}

@media screen and (max-width: 1487px) {
    .filter-container {
        width: 80%;
    }
}

@media screen and (max-width: 1139px) {
    .filter-container {
        width: 100%;
    }
    .type-container {
        width: 150px;
        width: 100%;
    }
    label {
        font-weight: lighter;
        font-size: 17px;
    }
}

@media screen and (max-width: 881px) {
    .filter-container {
        display: grid;
        height: auto;
        grid-template-columns: auto;
        grid-column-gap: 2rem;
        grid-row-gap: 100px;
        box-shadow: var(--lightShadow);
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 15px;
        margin-top: 10px;
    }
    label {
        font-weight: lighter;
        text-transform: capitalize;
        margin-left: 25px;
        color: var(--offWhite);
        font-size: 17px;
    }
}


/**** end of filter*****/


/**************************************/


/**** contact page *****/

.contact-section {
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}

.main-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 150px;
    background-color: var(--mainWhite);
    box-shadow: var(--darkShadow);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 55px;
}

.contact-form {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.contact-form h2 {
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(10, 10, 10);
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.form-info {
    font-size: 16px;
    font-style: italic;
    color: var(--mainFontColorDark);
    letter-spacing: 2px;
    margin-left: 5%;
    margin-top: 50px;
    padding-top: 20px;
}

.input {
    padding: 10px;
    margin: 10px;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
    width: 70%;
    font-size: 20px;
}

.input::placeholder {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}

textarea {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
}

textarea::placeholder {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}

.submit {
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    border: 2px solid var(--mainFontColorDark);
    color: var(--darkGrey);
    border-radius: 50px;
}

.submit:hover {
    border: 1px solid rgb(255, 7, 110);
    color: rgb(255, 7, 110);
    cursor: pointer;
}


/***** Footer ***************/

footer {
    width: 100%;
    background-color: var(--mainFontColorDark);
    bottom: 0px;
    color: var(--offWhite);
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
}

.left .content p {
    text-align: center;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
    color: var(--mainWhite);
}

.left .content .social .icon {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    background: #1a1a1a;
    border-radius: 5px;
    padding: 5px;
    margin-left: 2px;
    transition: 0.3s;
}

.left .content .social .icon:hover {
    background: #f12020;
}

.center .content .fas .contact {
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas .contact:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.text {
    text-transform: capitalize;
}

.center .content .phone {
    margin: 10px 0;
}

.textarea-text {
    font-size: 1.7rem;
    margin-bottom: 2px;
    color: var(--mainFontColorDark);
    text-transform: capitalize;
    width: 100%;
    height: 75px;
}

.input-text {
    height: 35px;
    width: 100%;
    font-size: 1.7rem;
    margin-bottom: 2px;
    color: var(--mainFontColorDark);
    text-transform: capitalize;
}

.right form .msg {
    margin-top: 10px;
}

.input-text .textarea-text:focus {
    outline: #3498db;
}